.footer {
    @media (max-width:768px) {
        width: auto;
        position: unset;
        padding: 20px 17px;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin: 38px 36px;

        .left {
            margin-top: 15px;
        }

    }
        @media (max-width:360px) {
            .left {
                    font-size: 12px;
                }
        }
}