.footer {
    @media (max-width:820px) {
        width: auto;
        position: unset;
        padding: 20px 17px;
        justify-content: center;
        flex-direction: column-reverse;
        align-items: center;
        margin: 38px 36px;

        .left {
            margin-top: 15px;
        }

    }
   
}