@import "./font.scss";

:root {
  --c1: #f0f6ff;
  --c2: #00a4f8;
  --cg60: #606060;
  --cg70: #707070;
  --dpi: 270px;
}
*{
  font-family: "Gotham" !important;
  user-select: none;
}
body {
  font-family: "Gotham";
  margin: 0;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: unset;
}

button {
  font-family: "Gotham";
}

.app {
transform-origin: top left;
  overflow-x: hidden;
  width: 1920px;
  position: absolute;
}

.outlet {
  background-image: url("/img/bg.png");
  background-repeat: no-repeat;
  padding-block: 240px;
}

.calendar {
  transform-origin: center bottom;
  position: fixed;
  scale: 1;
  right: 97px;
  width: 363px;
  height: 477px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border: 3px solid white;
  box-shadow: 0px 18px 48px #00000014;
  border-radius: 18px;
  transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out,
    bottom 0.35s ease-in-out;
  .calendarTitle {
    background-color: var(--c1);
    border-radius: 12px;
    display: flex;
    margin: 9px;
    padding: 10px 62px;
    align-items: center;
    justify-content: space-between;
    div {
      display: flex;
      align-items: center;

      span {
        height: 11px;
        width: 11px;
        border-radius: 99px;
        margin-right: 5px;
      }
      div {
        font-size: 14px;
        font-weight: 500;
        color: var(--cg70);
      }
    }
  }
}
.calendarBtn {
  transform-origin: center top;
  cursor: pointer;
  position: fixed;
  scale: 1;
  bottom: 20px;
  right: 150px;
  width: 252px;
  height: 60px;
  background-color: white;
  border: 2px solid var(--c2);
  border-radius: 9999px;
  z-index: 3;
  display: flex;
  .left {
    position: absolute;
    left: -2px;
    top: -2px;
    width: 60px;
    height: 60px;
    background: #e1edff;
    border: 2px solid var(--c2);
    border-radius: 9999px;
    .calendarIcon {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
  .right {
    position: absolute;
    color: var(--c2);
    letter-spacing: -0.13px;
    font-weight: 500;
    top: 50%;
    left: 72px;
    transform: translate(0, -50%);
    width: 60%;
    text-align: center;
  }
}


.react-calendar {
  .react-calendar__navigation {
    background-color: var(--c1);
    border-radius: 18px;
    display: flex;
    justify-content: space-between;
    margin: 7px;
    padding: 8px 15px;
    .react-calendar__navigation__prev2-button,
    .react-calendar__navigation__next2-button {
      display: none;
    }
    .react-calendar__navigation__prev-button,
    .react-calendar__navigation__next-button {
      cursor: pointer;
      padding: 16px 20.5px;
      border: 2px solid #dbe9ff;
      border-radius: 12px;
      opacity: 1;
      background: none;
      .navIcon {
        width: 11px;
        margin-inline: -1px;
        margin-bottom: -4px;
        height: 18px;
        object-fit: cover;
      }
    }
    .react-calendar__navigation__label {
      cursor: pointer;

      flex-grow: unset !important;
      background: none;
      border: none;
      font-size: 19px;
      line-height: 21px;
      font-weight: 500;
    }
  }
  .react-calendar__month-view__weekdays {
    margin: 3px;
    .react-calendar__month-view__weekdays__weekday {
      text-align: center;
      width: 41px;
      color: var(--c1);
      font-size: 17px;
      line-height: 19px;
      font-weight: 500;
      background-color: black;
      padding-block: 10px;
      margin-inline: 5px;
      border-radius: 18px;
      flex-basis: unset !important;
      cursor: default;
      abbr {
        text-decoration: none;
      }
    }
  }
  .react-calendar__month-view__days {
    margin: 7px 3px;
    .react-calendar__tile {
      text-align: center;
      width: 41px;
      font-size: 17px;
      line-height: 19px;
      font-weight: 500;
      background-color: var(--c1);
      padding-block: 10px;
      margin: 5px;
      border-radius: 18px;
      border: none;
      flex-basis: unset !important;
    }
    .react-calendar__month-view__days__day--neighboringMonth {
      cursor: unset;
      background-color: #f2f2f2;
      color: var(--cg70);
      span {
        background-color: var(--cg70);
      }
    }
  }
  .react-calendar__year-view__months
    + .react-calendar__year-view__years
    + .react-calendar__year-view__decades {
    margin-inline: 10px;
    justify-content: space-between;
    .react-calendar__tile {
      background-color: var(--c1);
      width: 30%;
      font-size: 16px;
      font-weight: 500;
      padding-block: 10px;
      margin-block: 5px;
      flex-basis: unset !important;
      border: none;
      border-radius: 18px;
      letter-spacing: -0.8px;
    }
  }

  .react-calendar__year-view__months,
  .react-calendar__decade-view__years,
  .react-calendar__century-view__decades {
    margin-inline: 10px;
    justify-content: space-between;
    .react-calendar__tile {
      background-color: var(--c1);
      width: 30%;
      font-size: 16px;
      font-weight: 500;
      padding-block: 10px;
      margin-block: 5px;
      flex-basis: unset !important;
      border: none;
      border-radius: 18px;
    }
  }
}

button[name="hasWebinar"] {
  cursor: pointer;
  position: relative;
  overflow: visible !important;
  .tag {
    pointer-events: none;
    position: absolute;
    top: 11px;
    right: 5px;
    width: 6px;
    height: 6px;
    border-radius: 100%;
  }
  abbr {
    pointer-events: none;
  }
  .tooltipContainer, .tooltipContainer2 {
    width: 313px;
    padding: 30px;
    background-color: white;
    border-radius: 18px;
    position: absolute;
    z-index: 1;
    bottom: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    box-shadow: 0px 0px 48px #00000029;
    .tooltip {
      .tooltipStatus {
        display: flex;
        align-items: center;
        span {
          width: 11px;
          height: 11px;
          border-radius: 9999px;
          margin-inline-end: 5px;
        }
        div{
          font-size: 14px;
          font-weight: 500;
          color: var(--cg70);
        }
      } .tooltiDateAndTime {
        margin-block: 10px;
        font-weight: 400;
        display: flex;
        font-size: 14px;
        line-height: 14px;
        color: var(--cg70);
        margin-bottom: 10px;
        .date {
          padding-inline: 2.5px;
          font-size: 14px;
          color: var(--cg70);
        }
        .time {
          padding-inline: 2.5px;
          font-size: 14px;
          color: var(--cg70);
        }
      }
      .tooltipTitle {
        text-align: start;
        font-size: 18px;
        line-height: 20px;
        font-weight: 600;
      }
    }
    .tooltip::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -5px;
      border-width: 5px;
      border-style: solid;
      border-color: white transparent transparent transparent;
    }
  }
}
.react-calendar__month-view__days__day--weekend {
  .tooltipContainer,.tooltipContainer2 {
    left: -120px !important;

    .tooltip::after {
      left: 326px !important;
    }
  }
}

.subscribingModal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  z-index: 3;
  .clickable {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .subscribeForm {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 3px 48px #e1edffc7;
    border-radius: 18px;
    padding: 60px 40px;
    background-image: url("/img/shapes8.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    transition: all 0.5s;

    .title {
      margin-bottom: 35px;
      font-size: 22px;
      line-height: 25px;
      color: #2a2a2a;
      font-weight: 600;
    }
    .inputContainer {
      color: var(--cg70) !important;
      margin-block-end: 33px;
      position: relative;
      label {
        padding: 4px 12px;
        position: absolute;
        left: 20px;
        top: -15px;
        font-size: 17px;
        letter-spacing: -0.65px;
        background-color: white;
        border: 1px solid #e1edff;
        border-radius: 15px;
      }
    }
    .message {
      color: var(--cg70);
      margin-block-end: 20px;
      max-width: 450px;
      a {
        color: var(--c2);
      }
    }
    .registerBtn {
      cursor: pointer;
      font-size: 17px;
      text-align: center;
      color: white;
      background: #0093de 0% 0% no-repeat padding-box;
      box-shadow: 0px 8px 48px #00a4f861;
      border: none;
      border-radius: 40px;
      padding: 20px 70px;
    }
    .subscribingOverlay {
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      left: 0;
      top: 0;
      height: 100%;
      width: 100%;
      background-color: rgba($color: #ffffff, $alpha: 0.5);
      border-radius: 18px;
    }
  }
  .thankYou {
    position: sticky;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 3px 48px #e1edffc7;
    border-radius: 18px;
    padding: 40px;
    background-image: url("/img/shapes9.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    transition: all 0.5s;

    .imageContainer {
      margin-inline-end: 40px;
      margin: -65px 40px -70px -68px;
    }

    .message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 550px;
      .title {
        color: #2a2a2a;
        font-size: 22px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 20px;
      }
      .subtitle {
        max-width: 450px;
        color: #a1a1a1;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: -0.56px;
      }
      .continueuBtn {
        cursor: pointer;
        margin-top: 20px;
        width: fit-content;
        font-size: 17px;
        text-align: center;
        color: white;
        background: #0093de 0% 0% no-repeat padding-box;
        border: none;
        border-radius: 40px;
        padding: 20px 50px;
      }
    }
  }
}
.registeredModal {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  z-index: 3;
  .clickable {
    position: absolute;
    height: 100%;
    width: 100%;
  }
  .thankYou {
    position: fixed;
    display: flex;
    justify-content: space-between;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    width: fit-content;
    height: fit-content;
    background-color: white;
    box-shadow: 0px 3px 48px #e1edffc7;
    border-radius: 18px;
    padding: 40px;
    background-image: url("/img/shapes9.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 80%;
    transition: all 0.5s;

    .imageContainer {
      margin-inline-end: 40px;
      margin: -65px 40px -70px -68px;
    }

    .message {
      display: flex;
      flex-direction: column;
      justify-content: center;
      max-width: 550px;
      .title {
        color: #2a2a2a;
        font-size: 22px;
        font-weight: 600;
        line-height: 25px;
        margin-bottom: 20px;
      }
      .subtitle {
        max-width: 450px;
        color: #a1a1a1;
        font-size: 17px;
        line-height: 23px;
        letter-spacing: -0.56px;
      }
      .continueuBtn {
        cursor: pointer;
        margin-top: 20px;
        width: fit-content;
        font-size: 17px;
        text-align: center;
        color: white;
        background: #0093de 0% 0% no-repeat padding-box;
        border: none;
        border-radius: 40px;
        padding: 20px 50px;
      }
    }
  }
}
.swiper-button-prev {
  height: 38px !important;
  width: 38px !important;
  left: unset !important;
  right: 320px !important;
  top: -40px !important;
  background: none !important;
  border: 2px solid #dbe9ff;
  border-radius: 12px;
  background-image: url("/img/arrowLeft.svg") !important;
  background-position: center !important;
  background-size: 50% !important;
  background-repeat: no-repeat !important;
}

.swiper-button-prev::after {
  content: none !important;
}

.swiper-button-next {
  height: 38px !important;
  width: 38px !important;
  left: unset !important;
  right: 268px !important;
  top: -40px !important;
  background: none !important;
  border: 2px solid #dbe9ff;
  border-radius: 12px;
  background-image: url("/img/arrowRight.svg") !important;
  background-position: center !important;
  background-size: 50% !important;
  background-repeat: no-repeat !important;
}

.swiper-button-next::after {
  content: none !important;
}

.MuiInputBase-formControl{
  border: 1px solid #E1EDFF;
  outline: none;
  border-radius: 15px;
  background-color: white;
  padding: 5.5px 22px;
  font-size: 17px;
  color: var(--cg70) !important;
}
fieldset {
  display: none;
}

.MuiAutocomplete-input {
  padding: 13px 32px !important;
}
.MuiAutocomplete-hasPopupIcon.MuiAutocomplete-hasClearIcon.css-qm9mjt-MuiAutocomplete-root .MuiOutlinedInput-root {
  padding-right: 10px !important;
}

.MuiChip-deletable {
  span{
    font-size: 17px;
  }
  span::before{
    color: var(--cg70);
    font-size: 17px;
    content: "\f00c";
    color: var(--c2);
    font-size: 18px;
  font-family: "FontAwesome";
  margin-inline-end: 5px;
  }
}

@import "./HomeResponsive.scss"