.header {
  position: absolute;
  left: 50%;
  padding: 50px 60px;
  transform: translate(-50%);
  width: calc(100% - 552px);
  display: flex;
  align-items: center;
  .left {
    flex: 40%;
    color: var(--cg60);
    font-size: 17px;
    font-weight: 500;
    a {
      margin-inline-end: 30px;
    }
    .activeMenuLink {
      color: black;
      position: relative;
      span {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 50%);
        width: 12px;
        height: 3px;
        background-color: var(--c2);
        border-radius: 9999px;
      }
    }
  }
  .center {
    flex: 20%;
    display: flex;
    justify-content: center;
    img {
      width: 117px;
      object-fit: contain;
    }
  }

  .right {
    flex: 40%;
    display: flex;
    justify-content: flex-end;
    button {
      margin-inline-start: 20px;
    }
    .applyBtn {
      cursor: pointer;
      background: none;
      padding: 20px 30px;
      border: 2px solid var(--c2);
      border-radius: 30px;
      color: var(--c2);
      font-size: 17px;
      font-weight: 500;
    }
    .searchBtn {
      cursor: pointer;
      position: relative;
      width: 60px;
      height: 60px;
      border: none;
      background-color: white;
      border-radius: 50%;
      img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 25px;
        height: 22px;
      }
    }
    .searchBtn:focus {
      outline: none;
    }
  }
}
.searchModal {
  position: absolute;
  -webkit-backdrop-filter: blur(50px);
  backdrop-filter: blur(50px);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 6;
  .clickable {
    position: absolute;
    top: -200%;
    left: -200%;
    height: 400%;
    width: 400%;
    z-index: -1;
  }
  .search {
    position: absolute;
    top: 0;
    left: 50%;
    padding: 50px 77px;
    transform: translate(-50%);
    width: calc(100% - 550px);
    z-index: 5;
    .inputAndButton {
      display: flex;
      justify-content: flex-end;
      input {
        width: 100%;
        padding: 21px 90px 21px 30px;
        box-shadow: 0px 6px 48px #00000014;
        border-radius: 30px;
        border: none;
        font-size: 17px;
        line-height: 18px;
        transition: all 0.2s;
      }
      input:focus {
        outline: none;
      }
      button {
        cursor: pointer;
        position: absolute;
        width: 60px;
        height: 60px;
        border: none;
        background-color: white;
        border-radius: 50%;
        box-shadow: 0px 6px 48px #e1edff;
        border: 1px solid #e1edff;

        img {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 25px;
          height: 22px;
          transition: all 0.5s;
          transform-origin: top left;
        }
      }
      button:focus {
        outline: none;
      }
    }

    .suggestedNames {
      margin-top: 15px;
      width: fit-content;
      .suggestedName {
        margin-bottom: 5px;
        padding: 15px 30px;
        background-color: white;
        font-size: 32px;
        line-height: 36px;
        font-weight: 600;
        letter-spacing: -0.8px;
        border-radius: 30px;
        width: fit-content;
        cursor: pointer;
        display: flex;
        align-items: baseline;
        transition: all 0.2s;
        transition-delay: 0.2s;
        img {
          margin-left: 5px;
          height: 20px;
        }
      }
    }
    .noResults {
      margin-top: 107px;
      width: fit-content;
      margin-left: auto;
      margin-right: auto;
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 38px;
      line-height: 41px;
      font-weight: 500;
      img {
        height: 64px;
        margin-bottom: 20px;
      }
    }
  }
}

@import "./headerResponsive.scss"