 .header {
     @media (max-width:820px) {
         position: absolute;
         left: 0;
         right: 0;
         padding: 25px 38px;
         -webkit-transform: translate(0);
         width: auto;
         justify-content: space-between;

         .right {
             flex: unset;
             display: flex;
             align-items: center;

             .applyBtn {
                 padding: 10px 20px;
                 margin-inline-start: 30px;

                 span {
                     display: none;
                 }
             }

             /*.searchBtn {
                 height: 45px;
                 border: none;
                 background-color: white;
                 position: absolute;
                 left: 0;
                 right: 0;
                 margin-left: 0;
                 bottom: -30px;
                 width: 85%;
                 margin: auto;
                 border-radius: 30px;
                 box-shadow: 0px 6px 48px rgb(0 0 0 / 8%);

                 img {
                     left: unset;
                     right: 0px;
                 }

                 &::after {
                     content: "Search by webinar name";
                      border-radius: 30px;
                     border: none;
                     font-size: 16px;
                     line-height: 18px;
                     color: #b6b6b6;
                     display: flex;
                    align-items: center;
                    padding: 0 20px;
                 }
             }*/
         }

         .center {
             display: block;
             flex: unset;
         }

         .left {
             flex: unset;

             a {
                 display: block;
                 margin-bottom: 5px;
             }
         }

     }
 }

 @media (max-width:820px) {
     .searchModal {
         .search {
             left: 0;
             width: auto;
             transform: none;
             padding: 40px 38px;

             .suggestedNames {
                 .suggestedName {
                     font-size: 16px;
                     line-height: 24px;
                 }
             }
         }
     }
 }