.home {
  .calendar {
    position: fixed;
    right: 97px;
    width: 363px;
    height: 477px;
    background: #ffffff 0% 0% no-repeat padding-box;
    border: 3px solid white;
    box-shadow: 0px 18px 48px #00000014;
    border-radius: 18px;
    z-index: 3;
    transition: visibility 0.4s ease-in-out, opacity 0.4s ease-in-out,
      bottom 0.35s ease-in-out;
    .calendarTitle {
      background-color: var(--c1);
      border-radius: 12px;
      display: flex;
      margin: 9px;
      padding: 10px 62px;
      align-items: center;
      justify-content: space-between;
      div {
        display: flex;
        align-items: center;

        span {
          height: 11px;
          width: 11px;
          border-radius: 99px;
          margin-right: 5px;
        }
        div {
          font-size: 14px;
          font-weight: 500;
          color: var(--cg70);
        }
      }
    }
  }
  .calendarBtn {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 150px;
    width: 252px;
    height: 60px;
    background-color: white;
    border: 2px solid var(--c2);
    border-radius: 9999px;
    z-index: 3;
    display: flex;
    .left {
      position: absolute;
      left: -2px;
      top: -2px;
      width: 60px;
      height: 60px;
      background: #e1edff;
      border: 2px solid var(--c2);
      border-radius: 9999px;
      .calendarIcon {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
    .right {
      user-select: none;
      position: absolute;
      color: var(--c2);
      letter-spacing: -0.13px;
      font-weight: 500;
      top: 50%;
      left: 72px;
      transform: translate(0, -50%);
      width: 60%;
      text-align: center;
    }
  }

  .hero {
    position: relative;
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 0;
    margin-bottom: 255px;
    img {
      user-select: none;
      position: absolute;
      z-index: -1;
    }
    .shapes {
      top: -8px;
      left: 350px;
    }
    .chart {
      top: 250px;
      left: 410px;
    }
    .live {
      top: 310px;
      left: 1510px;
    }
    .mic {
      top: calc(250px + 143px + 50px);
      left: calc(410px + 38px + 50px);
    }
    .ccard {
      top: calc(250px + 143px + 50px + 65px);
      left: calc(410px + 38px + 50px + 710px);
    }
    .title {
      margin-top: 25px;
      user-select: none;
      font-size: 118px;
      font-weight: 700;
      letter-spacing: -5.9px;
      line-height: 130px;
      text-align: center;
    }
    .subtitle {
      margin-top: 10px;
      user-select: none;
      font-size: 21px;
      letter-spacing: -0.84px;
      line-height: 22px;
      text-align: center;
    }
    .registerBtn {
      cursor: pointer;
      margin-top: 50px;
      user-select: none;
      font-size: 17px;
      text-align: center;
      color: white;
      background: #0093de 0% 0% no-repeat padding-box;
      box-shadow: 0px 8px 48px #00a4f861;
      border: none;
      border-radius: 40px;
      width: 302px;
      height: 75px;
    }
  }

  .parteners {
    width: 678px;
    height: 95px;
    background-color: white;
    clip-path: polygon(95% 0, 100% 40%, 100% 100%, 0 100%, 0 0);
    display: flex;
    align-items: center;
    padding-inline: 35px;
    img {
      user-select: none;
      height: 25px;
      margin-inline: 17.5px;
    }
  }

  .featuredWebinar {
    padding-inline: var(--dpi);
    padding-bottom: 51px;
    z-index: 0;
    position: relative;
    .featuredWebinarBg {
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: white;
      z-index: -1;
      position: absolute;
      clip-path: polygon(82.3% 0, 82.3% 18%, 100% 18%, 100% 100%, 0 100%, 0 0);
    }
    .top {
      height: 431px;
      padding-bottom: 105px;
      display: flex;
      z-index: 0;

      .left {
        position: relative;
        .webinarImage {
          object-fit: cover;
          width: 780px;
          height: 431px;
          border-radius: 28px;
        }
        .watchNowBtn {
          cursor: pointer;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          position: absolute;
          width: 238px;
          height: 71px;
          background: #f0f6ff;
          border-radius: 40px;
          display: flex;
          flex-direction: row-reverse;
          align-items: center;
          font-weight: 600;
          font-size: 18px;
          .playIcon {
            height: 71%;
            margin-left: 30px;
            margin-right: 10px;
          }
        }
      }
      .right {
        width: 676px;
        background-color: white;
        box-shadow: 0px 6px 48px #edf5ff;
        border-radius: 38px;
        padding: 60px 30px;
        .status {
          font-size: 17px;
          line-height: 19px;
          color: var(--cg70);
          font-weight: 600;
          margin-bottom: 20px;
        }
        .dateAndTime {
          display: flex;
          font-size: 14px;
          color: var(--cg70);
          margin-bottom: 10px;
          .date {
            padding-inline: 2.5px;
            font-size: 14px;
            color: var(--cg70);
          }
          .time {
            padding-inline: 2.5px;
            font-size: 14px;
            color: var(--cg70);
          }
        }
        .title {
          font-size: 32px;
          font-weight: 600;
          letter-spacing: -0.8px;
          line-height: 36px;
        }
        .speaker {
          margin-top: 19px;
          display: flex;
          .speakerLeft {
            img {
                  width: 67px;
              height: 67px;
              box-shadow: 0px 8px 30px #00000029;
              border-radius: 20px;
            }
          }
          .speakerRight {
            margin-inline-start: 15px;
            .name {
              text-transform: capitalize;
                  font-size: 17px;
              font-weight: 600;
              line-height: 24px;
            }
            .position {
              text-transform: capitalize;
                  font-size: 17px;
              line-height: 24px;
              font-weight: 500;
              letter-spacing: -0.65px;
              color: var(--cg70);
            }
            .company {
              text-transform: capitalize;
                  font-size: 17px;
              font-weight: 500;
              color: var(--cg70);
            }
          }
        }
        .register {
          margin-top: 30px;
          .btn {
            cursor: pointer;
            background: none;
            padding: 20px 50px;
            border: 2px solid var(--c2);
            border-radius: 30px;
            color: var(--c2);
              font-size: 17px;
            font-weight: 500;
          }
        }
      }
    }
    .bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      background-color: white;
      .left {
        .title {
          font-size: 19px;
          font-weight: 700;
          line-height: 21px;
          margin-bottom: 3px;
        }
        .subtitle {
          display: flex;
          flex-direction: column;
          div {
            margin-block: 5px;
            span {
              padding: 5px 15px 5px 5px;
              background-color: black;
              color: white;
                  font-size: 28px;
              letter-spacing: -1.26;
              line-height: 31px;
              font-weight: 600;
            }
          }
        }
      }
      .right {
        a {
          font-size: 17px;
          line-height: 19px;
          font-weight: 500;
          display: flex;
          align-items: flex-end;
          img {
              margin-left: 5px;
            height: 17px;
          }
        }
      }
    }
  }
  .upcomingWebinars {
    position: relative;
    padding-block: 93px;
    background-color: var(--c1);
    .upcomingWebinarsBg {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .header {
      margin-inline-start: 277px;
      font-weight: 600;
      font-size: 22px;
    }
    .swiper {
      overflow: visible;
      margin-top: 27px;
      padding-left: 60px;
      .slide {
        .card {
          display: flex;
          flex-direction: column;
          width: 526px;
          height: 273px;
          padding: 30px 60px;
          background-color: white;
          box-shadow: 0px 10px 48px #00a4f814;
          border-radius: 38px;
          .dateAndTime {
            display: flex;
            font-size: 14px;
            color: var(--cg70);
            margin-bottom: 10px;
            .date {
              padding-inline: 2.5px;
              font-size: 14px;
              color: var(--cg70);
            }
            .time {
              padding-inline: 2.5px;
              font-size: 14px;
              color: var(--cg70);
            }
          }
          .title {
            font-size: 32px;
            font-weight: 600;
            letter-spacing: -0.8px;
            line-height: 36px;
          }
          .speaker {
            margin-top: auto;
            display: flex;
            .speakerLeft {
              img {
                      width: 67px;
                height: 67px;
                box-shadow: 0px 8px 30px #00000029;
                border-radius: 20px;
              }
            }
            .speakerRight {
              margin-inline-start: 15px;
              .name {
                text-transform: capitalize;
                      font-size: 17px;
                font-weight: 600;
                line-height: 24px;
              }
              .position {
                text-transform: capitalize;
                      font-size: 17px;
                line-height: 24px;
                font-weight: 500;
                letter-spacing: -0.65px;
                color: var(--cg70);
              }
              .company {
                text-transform: capitalize;
                      font-size: 17px;
                font-weight: 500;
                color: var(--cg70);
              }
            }
          }
          .register {
            margin-top: auto;
            .btn {
              cursor: pointer;
              background: none;
              padding: 20px 50px;
              border: 2px solid var(--c2);
              border-radius: 30px;
              color: var(--c2);
                  font-size: 17px;
              font-weight: 500;
            }
          }
        }
      }
    }
  }
  
  .feedbacks {
    background-color: var(--c1);
    background-image: url("/img/shapesBg.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    justify-content: space-between;
    padding: 110px 310px;
    .start {
      padding-bottom: 48px;
      width: 50%;
      cursor: grab !important;
      user-select: none;
      .feedback {
        overflow-x: hidden !important;
        .feedbackContainer {
          padding: 27px 36px;

          .title {
            position: relative;
            font-size: 37px;
            letter-spacing: -1.6px;
            line-height: 44px;
            font-weight: 700;
            color: "#000000DE";
            margin-bottom: 27px;
            .qs {
              width: 36px;
              position: absolute;
              left: -36px;
              top: -27px;
            }
            .qe {
              width: 36px;
              position: absolute;
              right: -36px;
              bottom: -27px;
            }
          }
          .feedbacker {
            margin-top: auto;
            display: flex;
            .feedbackerLeft {
              img {
                      width: 67px;
                height: 67px;
                border-radius: 20px;
              }
            }
            .feedbackerRight {
              margin-inline-start: 15px;
              .name {
                text-transform: capitalize;
                      font-size: 17px;
                font-weight: 600;
                line-height: 24px;
              }
              .position {
                text-transform: capitalize;
                      font-size: 17px;
                line-height: 24px;
                font-weight: 500;
                letter-spacing: -0.65px;
                color: var(--cg70);
              }
              .company {
                text-transform: capitalize;
                      font-size: 17px;
                font-weight: 500;
                color: var(--cg70);
              }
            }
          }
        }
      }
    }
    .end {
      .title {
        user-select: none;
        font-size: 19px;
        font-weight: 700;
        line-height: 21px;
        margin-bottom: 3px;
        span {
          background-color: white;
          padding-top: 8px;
          padding-right: 8px;
        }
      }
      .subtitle {
        display: flex;
        flex-direction: column;
        div {
          margin-block: 5px;
          span {
            padding: 5px 15px 5px 5px;
            background-color: black;
            color: white;
              font-size: 28px;
            letter-spacing: -1.26;
            line-height: 31px;
            font-weight: 600;
          }
        }
      }
    }
  }
  .subscribe {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: -40px;
    background-image: url("/img/shapesBg2.svg");
    background-repeat: no-repeat;
    background-size: 75%;
    background-position: center;
    background-color: white;
    border-radius: 18px;
    box-shadow: 0px -8px 80px #E1EDFFC7;
    margin-inline: 270px;
    padding: 50px 200px;
    .title {
      font-size: 28px;
      letter-spacing: -1.18px;
      line-height: 31px;
      font-weight: 600;
    }
    .subtitle {
      font-size: 48px;
      letter-spacing: -2px;
      line-height: 53px;
      font-weight: 600;
      margin-bottom: 50px;
    }
    .subscribeBtn {
      cursor: pointer;
      background: none;
      padding: 20px 50px;
      border: 2px solid var(--c2);
      border-radius: 30px;
      color: var(--c2);
      user-select: none;
      font-size: 17px;
      font-weight: 500;
    }
   
  }
  .clients {
    padding: 110px 310px;

    .title {
      user-select: none;
      font-size: 19px;
      font-weight: 700;
      line-height: 21px;
      margin-bottom: 3px;
    }
    .subtitle {
      display: flex;
      flex-direction: column;
      div {
        margin-block: 5px;
        span {
          padding: 5px 15px 5px 5px;
          background-color: black;
          color: white;
          font-size: 28px;
          letter-spacing: -1.26;
          line-height: 31px;
          font-weight: 600;
        }
      }
    }
    .clientLogos {
      margin-top: 50px;
      display: grid;
      grid-template-columns: auto auto auto auto auto;
      z-index: 5;

      .clientLogo{
        width: 100%;
        margin-bottom: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        div{
          width: 50%;
          background-color: white;
        img {
          mix-blend-mode: luminosity;
          opacity: 0.75;
          width: 100%;
          transition: opacity  0.5s ease-in-out;

        }
        img:hover{
          mix-blend-mode:normal;
          opacity: 1;

        }
      }
      }
    }
  }
}
