.webinars {
    @media (max-width:768px) {
        padding-inline: 0;
        padding: 0px 38px;

        .featuredWebinar {
            .bottom {
                flex-direction: column;
                height: auto;

                .left {
                    .webinarImage {
                        width: 100%;
                        height: auto;
                    }
                }

                .right {
                    width: auto;
                    margin-top: -170px;
                    position: relative;
                }
            }
        }

        .upcomingWebinars {
            margin-top: 0;
            padding-bottom: 105px;
            padding-top: 105px;
        }
    }

    @media (max-width:600px) {
        .featuredWebinar {
            .top {
                .left {
                    .subtitle {
                        div {
                            margin-block: 0;
                            margin-top: 5px;

                            span {
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                    }
                }
            }

            .bottom {
                .right {
                    margin-top: -55px;

                    .title {
                        font-size: 24px;
                        letter-spacing: 0;
                        line-height: 27px;
                    }

                    .peaker {
                        .speakerLeft {
                            img {
                                width: 50px;
                                height: 50px;
                            }
                        }

                        .speakerRight {
                            .name {
                                font-size: 15px;
                            }

                            .position {
                                font-size: 15px;
                            }
                        }
                    }
                }
            }
        }
    }
}